<footer class="py-4">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-md-2 col-sm-12">
                    <h3>{{'about'| translate}}</h3>
                    <p class="my-3">{{'text'| translate}}</p>
                    <div id="socialMedia">
                        <div class="row text-center">
                            <div class="col mr-2">
                                <i class="fab fa-facebook-square"></i>
                            </div>
                            <div class="col mr-2">
                                <i class="fab fa-instagram"></i>
                            </div>
                            <div class="col mr-2">
                                <i class="fab fa-pinterest-square"></i>
                            </div>
                            <div class="col mr-2">
                                <i class="fab fa-skype"></i>
                            </div>
                            <div class="col">
                                <i class="fab fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-2 col-sm-12">
                    <h3>{{'quickLinks'| translate}}</h3>
                    <ul class="mt-3 p-0">
                        <li class="mt-2"><a href="">{{'home'| translate}}</a></li>
                        <li class="mt-2"><a href="">{{'pages'| translate}}</a></li>
                        <li class="mt-2"><a href="">{{'blog'| translate}}</a></li>
                        <li class="mt-2"><a href="">{{'about'| translate}}</a></li>
                        <li class="mt-2"><a href="">{{'message'| translate}}</a></li>
                        <li class="mt-2"><a href="">{{'events'| translate}}</a></li>
                    </ul>
                </div>
                <div class="col-xl-3 col-md-2 col-sm-12 contact">
                    <h3>{{'contact'| translate}}</h3>
                    <p class="my-3">{{'contactDetails'| translate}}</p>
                    <p class="my-3">{{'tele'| translate}}</p>
                    <div class="row text-center">
                        <div class="col-3 mr-2">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <div class="col-3 mr-2">
                            <i class="fab fa-instagram"></i>
                        </div>
                        <div class="col-3">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-2 col-sm-12">
                    <h3>{{'request'| translate}}</h3>
                    <form class="mt-3" [formGroup]="callback" (ngSubmit)="request(callback)">
                        <input type="text" class="form-control" formControlName="name" placeholder="{{'name'| translate}}">
                        <input type="text" class="form-control my-3" formControlName="email" placeholder="{{'youremail'| translate}}">
                        <input type="text" class="form-control" formControlName="contact" placeholder="{{'cont'| translate}}">
                        <button type="submit" class="mt-4">{{'send'| translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>