      //vendors
      $vendors: "-webkit",
      "-moz-",
      "-o-",
      "";
      //layout
      $auto-margin: 0 auto;
      //colors & BGcolors
      $blue: #054A97;
      $white: #FFF;
      $black: #111111;
      $grey: #BABCBA;
      //fonts
      $open: 'Open Sans';
      $play: 'Play';
      $raleway: 'Raleway';
      //imgs Sources